.gallery-wrap .img-big-wrap img {
    height: 450px !important;
    width: -webkit-fill-available !important;
    display: inline-block !important;
    cursor: zoom-in !important;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px !important;
    height: 60px !important;
    border: 1px solid #ddd !important;
    margin: 7px 2px !important;
    display: inline-block !important;
    overflow: hidden !important;
}

.gallery-wrap .img-small-wrap {
    text-align: center !important;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: cover !important;
    border-radius: 4px !important;
    cursor: zoom-in !important;
}